div.fixed-alert-btm {
    position: fixed;
    width: 100vw;
    bottom: 40px;
}

div.fixed-row-btm {
    position: fixed;
    width: 100vw;
    bottom: 20px;
}

div.alert {
    color: red;
    size: 16px;
}

.hidden {
    display: none;
}

input.input-name {
    width: 20%;
    size: 18px;
    margin-right: 10px;
}

input.input-message {
    width: 70%;
    size: 18px;
}

div.message {
    display: inline-block;
}

div.message span {
    color: blue;
    font-size: 1rem;
    margin-left: 15px;
    display: none;
}

div.message:hover span {
    display: inline;
}

div.extra {
    display: inline-block;
    float: right;
}

ul#messages-container {
    padding: 0px;
    list-style-type: none;
}

ul#messages-container li {
    margin-bottom: 20px;
    background-color: #e5e5e5;
    line-height: 2.5rem;
}

button {
    margin-left: 10px;
    margin-right: 10px;
}

.highlight {
    background-color: yellow;
}